html body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu';
}

header {
    background-color: #f4efe9;
    height: 1rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

header > div {
    color: black;
    font-weight: bold;
}

li {
    list-style: none;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    gap: 3rem;
}

ul > li > a:hover {
    color: #bfbcb8 !important;
    text-decoration: underline !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

div#content {
    height: 100%;
    width: 100%;
}