body > #add-review {
    display: flex;
    width: 100%;
    height: calc(100vh - 5rem);;
    justify-content: center;
    align-items: center;
}

.add-card {
    display: flex;
    width: 50%;
    background-color: #cac4b6 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1rem;
    height: 80%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.form-article {
    height: 100px;
}

.input-group-text {
    width: 75.54px;
    justify-content: center;
}

.form-title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.create-account {
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}

input {
    border: none;
    background-color: #FFFEFC;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

input:focus-visible {
    outline: #a5a08b auto 1px;
}

.button-add {
    border-radius: 1rem;
    padding: .5rem 3rem;
    border: none;
    background-color: #FFFEFC;
}

.button-add:hover {
    background-color: #a5a08b;
}

.button-add:active {
    box-shadow: 0 5px #6f6b5c;
    transform: translateY(4px);
}

.create-account > a:hover {
    color: white !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.form-multiple-select {
    display: flex;
    width: 100%;
}

.form-multiple-select > .input-group-text {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.form-multiple-select > .form-select{
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}