{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Phone Model List
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/model-list.css' %}"/>
{% endblock %}

{% block content %}
<main>
    <div class="phone-list-container">
        <div class="phone-list-title">
            <h1>{{brand}} Phone Models</h1>
        </div>
        <div style="width: 100%;">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Launch Date</th>
                        <th>Platform</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in models %}
                    <tr>
                        <td><a href="{% url 'reviews' model.brand model.slug %}">{{ model.name }}</a></td>
                        <td>{{ model.brand }}</td>
                        <td>{{ model.launch_date }}</td>
                        <td>{{ model.platform }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}