{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Add Review
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/add.css' %}"/>
{% endblock %}

{% block content %}
    <div id="add-review">
        <div class="add-card">
            <div style="width: 100%">
                <div class="form-container gap-3 mb-3">
                    <form action="/" method="POST" class="add-review-form">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-control {% if field.errors %} errors {% endif %}">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="button-add">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
