{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Login
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/login.css' %}"/>
{% endblock %}


{% block content %}
    <div id="login-content">
        <div class="login-card">
            <div class="image-container">
                <img src="{% static 'Images/89347.jpg' %}" alt="Phone Review" class="image-content">
            </div>
            <div style="width: calc(100% - 473.2px)">
                <div class="form-container">
                    <div style="margin-bottom: 1rem; font-size: 3rem;">
                       User Login
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <input type="text" placeholder="Username"/>
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <input type="password" placeholder="Password"/>
                    </div>
                    <div>
                        <button class="button-login">Login</button>
                    </div>
                    <div class="create-account">
                        Create your account -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
