{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Register
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/register.css' %}"/>
{% endblock %}


{% block content %}
    <div id="register-content">
        <div class="register-card">
            <div style="width: 50%">
                <div class="form-container">
                    <div class="welcome-text">
                       Hi, Welcome to Phone Review Web
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <input type="text" placeholder="Full Name"/>
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <input type="email" placeholder="Email"/>
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <input type="password" placeholder="Password"/>
                    </div>
                    <div style="margin-bottom: 1rem;">
                        <button class="button-register">Register</button>
                    </div>
                    <div class="login-site">
                        Already have a account ?
                        <a href="{% url 'login' %}">
                            Login Here
                        </a>
                    </div>
                </div>
            </div>
            <div class="other-part">
                Get the lowdown on the latest phones with our in-depth reviews.
            </div>
        </div>
    </div>
{% endblock %}
