{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Phone Review
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/main.css' %}"/>
{% endblock %}

{% block content %}
<main>
    {% for review in reviews %}
    <div class="main-content">
        <div class="review-content">
            <div class="img-container">
                <img 
                    src="{% static 'Images/review_img.jpg' %}" 
                    alt="Phone Image"
                    class="img-content"
                />
            </div>
            <div class="review-text-holder">
                <div>Title: </div>
                <div class="title-content">
                    {{ review.title }}
                </div>
                <div>Models: </div>
                <div class="models-content">
                    {% for model in review.models.all %}
                        <div>{{ model.name }}</div>
                    {% endfor %}
                    <div>Samsung</div>
                </div>
                <article>
                    Article: 
                </article>
                <div class="article-content">
                    {{ review.article }}
                </div>
            </div>
            <div class="date-time">
                {{ review.date_published|date:"M d, Y H:i" }}
            </div>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}