{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
    Phone Review
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'Main/main.css' %}"/>
{% endblock %}

{% block content %}
    <main>
        <div class="review-content">
            <img 
                src="{% static 'Images/review_img.jpg' %}" 
                alt="Phone Image"
                class="img-content"
            />

            <div class="review-text-holder">
                <div>Title: </div>
                <div class="title-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </div>
                <div>Models: </div>
                <div class="models-content">
                    <div>Samsung</div>
                    <div>Sony</div>
                    <div>Apple</div>
                </div>
                <article>
                    Article: 
                </article>
                <div class="article-content">
                    Morbi commodo ut mauris eget dictum. Nam ut nisl commodo, interdum arcu at, maximus ante. Pellentesque bibendum mauris non lacus ultrices, a scelerisque magna sagittis. Sed consequat consectetur velit, sed interdum quam pharetra quis. Pellentesque tincidunt laoreet quam vel blandit. Vivamus id leo id lorem congue tincidunt. Fusce sit amet tellus blandit, luctus felis ut, accumsan ipsum
                </div>
            </div>
            <div class="date-time">
                24/9/1999 23:14 pm
            </div>
        </div>
    </main>
{% endblock %}